@import url("../fonts/Inter/stylesheet.css");
*{
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 120%;
    font: inherit;
    vertical-align: baseline;
}
:root{
    --main-color: #0E153C;
}
body{
    font-family: "Inter";
}
.site{
    width: 100%;
    background-image: url("../img/background.png");
}
.container{
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
}
.site-header{
    width: 100%;
    background-color: #fff;
    background-image: url("../img/headerBG.png");
    background-blend-mode: multiply;
    box-shadow: 1px 1px 20px #000;
}
.site-header-main{
    display: flex;
    align-items: center;
}
.site-header-logo{
    width: 100%;
    max-width: 550px;
}
.site-header-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 625px;
}
.site-header-menu__link{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.site-header-callback{
    position: absolute;
    top: 33px;
    right: 0;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
    max-width: 452px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}
.site-main{
    padding-bottom: 50px;
}
.site-main-content{
    width: 100%;
    padding-top: 211px;
}
.content-top-left{
    width: 100%;
    max-width: 869px;
}
.description-title{
    padding-bottom: 100px;
    font-weight: bold;
    font-size: 65px;
}
.description-text{
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
}
.content-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content-form-title{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 40px;
}
.content-form-item:not(:last-child){
    padding-bottom: 25px;
}
.content-form-item:not(.content-form-item--commers){
    display: flex;
    flex-direction: column;
}
.content-form__button{
    background-color: #E21F27;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 32px;
    padding: 5px 0;
    cursor: pointer;
    transition: 0.5s;
}
.content-form__input{
    height: 56px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
}
.content-form__label{
    font-size: 25px;
    font-weight: 300;
}
.content-form-type{
    flex-direction: row !important;
    width: 100%;
}
.content-form-type__item{
    width: max-content;
    font-size: 25px;
    color: #959595;
    cursor: pointer;
}
.--active{
    color: #000;
}
.content-form-type__item:nth-child(1){
    border-right: 5px solid black;
    padding-right: 17px;
}
.content-form-type__item:nth-child(2){
    padding-left: 17px;
}
.content-form-item--commers{
    font-size: 25px;
}
.content-form__checkbox::before{
    border: 2px solid #000;
}
 .content-form__file {
   opacity: 0;
   visibility: hidden;
   position: absolute;
}
.content-form__file-button-text {
   line-height: 1;
   margin-top: 1px;
}   
.content-form__file-button {
   width: 100%;
   height: 40px;
   border-radius: 5px;
   background-color: var(--main-color);
   color: #fff;
   font-size: 25px;
   font-weight: bold;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    justify-content: center;
   border-radius: 3px;
   cursor: pointer;
   margin: 0 auto;
   transition: 0.5s;
}
.content-form__checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.content-form__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.content-form__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 3px solid;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.content-form__checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
.content-form__checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.about{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 166px;
}
.about-description{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.title{
    font-weight: bold;
    font-size: 45px;
}
.about__title{
    margin-bottom: 90px;
}
.about-description__text{
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 943px;
}
.about-description__text--left{
    text-align-last: left;
}
.about-description__text--right{
    text-align: right;
    align-self: center;
}
.site-main-tender{
    background-color: var(--main-color);
}
.tender-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 0;
}
.tender__title{
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}
.tender__text{
    color: #fff;
    text-align: center;
    line-height: 1.2;
    font-weight: 200;
    max-width: 1383px;
    margin-bottom: 85px;
    font-size: 25px;
}
.tender__button{
    font-size: 32px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #E21F27;
    border: none;
    color: #fff;
    padding: 10px 216px;
    cursor: pointer;
    transition: 0.5s;
}
.site-main-contacts{
    padding-top: 133px;
    padding-bottom: 102px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.contacts-title{
    padding-bottom: 60px;
}
.contacts-text{
    max-width: 632px;
}
.contacts-text__item{
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
}
.contacts-text__item:not(:last-child){
    padding-bottom: 40px;
}
.contacts-text-bottom{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
.contacts-link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contacts-link__item{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #000;
}
.contacts-figure{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.contacts-figure__item{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.contacts-figure__item--blue{
    background-color: var(--main-color);
}
.contacts-figure__item--red{
    background-color: #E21F27;
}
.contacts__map{
    font-weight: bold;
    color: #000;
    font-weight: bold;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 810px;
    height: 450px;
    position: relative;
    top: 20px;
}
.site-main-news{
    padding-top: 172px; 
}
.site-footer{
    width: 100%;
    height: 300px;  
    background-color: var(--main-color);
}
.news__title{
    margin-bottom: 60px;
}
.news-content{
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: "first-item second-item second-item"
                        "first-item third-item fourth-item"
                        "fiths-item sixth-item fourth-item"
                        "seventh-item sixth-item eigths-item";
    grid-template-columns: 40% 39%;
    grid-template-rows: 268px 408px 402px;
}
.news-item{
    width: 100%;
    display: flex;
    align-items: end;
    border-radius: 5px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.news-item:not(:last-child){
    cursor: pointer;
}
.news-item:not(:last-child .news-item--elecric){
    background-image: url("../img/newsBG.png");
    background-size: cover;
}
.news-item--elecric{
    background-image: url("../img/electricBG.png");
    background-size: cover;
}
.news-item:nth-child(1){
    max-width: 645px;
    height: 680px;
    grid-area: first-item;
}
.news-item:nth-child(2){
    max-width: 1000px;
    height: 265px;
    grid-area: second-item;
}
.news-item:nth-child(3){
    max-width: 654px;
    height: 402px;
    grid-area: third-item;
}
.news-item:nth-child(4){
    max-width: 336px;
    height: 814px;
    grid-area: fourth-item;
}
.news-item:nth-child(5){
    max-width: 761px;
    height: 228px;
    grid-area: fiths-item;
    grid-column: 1/span 2;
}
.news-item:nth-child(6){
    max-width: 503px;
    height: 728px;
    grid-area: sixth-item;
    justify-self: end;
}
.news-item:nth-child(7){
    max-width: 761px;
    height: 490px;
    grid-area: seventh-item;
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    align-self: end;
}
.news-item:nth-child(8){    
    max-width: 336px;
    height: 316px;
    grid-area: eigths-item;
}
.news-item__title{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}
.news-item__description{
    color: #fff;
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
}
.news-item-content{
    padding: 0 46px 37px 46px;
    width: 100%;
}
.site-main-portfolio{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__title{
    margin-bottom: 97px;
}
.portfolio-content{
    width: 100%;
    height: 362px;
    border: 2px solid;
}
.slider{
    width: 100%;
    max-width: 1620px;
    overflow: hidden;
}
.slider-box{
    display: flex;
    justify-content: center;
}
.slider-container {
    width: 1400%;
    display: flex;
    gap: 50px;
    position: relative;
    transition: 0.5s;
}
.slider__item{
    width: 652px;
    height: 362px;
    border: 2px solid;
}
.slider-left, .slider-right{
    width: 50px;
    height: 50px;
   /* border: 2px solid;*/
    position: absolute;
    top: 4450px;
}
.slider-left{
    transform: scaleX(-1);
}
.slider-right{
    right: 135px;
}
.slider-arrow{
    cursor: pointer;
}
.slider-dot-left{
    background-color: #E21F27;
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    border-radius: 50%;
    left: -5px;
}
.slider-dot-right{
    background-color: #111E64;
    width: 10px;
    height: 10px;
    position: relative;
    top: -10px;
    border-radius: 50%;
    left: -5px;
}
.slider__item--before{
    border-color: red;
}
.slider__item--after{
    border-color: green;
}
@media screen {
    .tender__button:hover,
    .content-form__button:hover{
        background-color: #a5151a;
    }
    .content-form__file-button:hover{
        background-color: #0c1336;
    }
    .news-item:not(:last-child):hover{
        transform: scale(1.03);
    }
}